*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fbf0dd
}
nav{
	position: fixed;
	width: 100%;
	min-height: 50px;
	height: 60px;
	min-height: 60px;
	/*background-color: #053740;*/
	background-color: rgb(68 68 68 / 50%);
	z-index: 99;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
	color: #fff;
	top: 0;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

nav .nav_logo_container{
	margin: 0 20px;
	display: flex;
}

nav .nav_container{
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}

nav .nav_logo{
	margin: 0 10px;
	background-image: url('./../img/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 80px;
	width: 80px;
}
nav .logo_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 
nav .logo_text p{
	font-size: 20px;
}
nav .nav_logo a{
	/*color: white;*/
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}
/*nav .nav_logo a i{
	color: #25bad0;
	margin: 0 5px;
}*/
nav .nav_list{
	width: 55%;
	margin: 0 30px;
	max-width: 600px;
}
nav .menu_list{
	display: none
}
nav .nav_list ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .nav_list ul li{
	list-style: none;
	width: 140px;
	text-align: center;
}
nav .nav_list ul li a {
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 13px;
	/*color: rgba(0,0,0,0.8);*/
	color: #fff;
	text-transform: uppercase;
}
nav .nav_list {
	margin-top: 22px;
}
nav .nav_list ul{
	align-items: unset;
}
.nav_logo_container{
	height: 60px;
}
.dropdown{
	/*height: 0;*/
	width: 130px;
	margin-top: 10px;
	border: 1px solid #000;
	display: none
}
.dropdown div{
	border-bottom: 1px solid #000;
	line-height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,.25)
}
.dropdown div:hover{
	background-color: rgba(255,255,255,.75);
	color: #000;
   	transition: all 0.3s ease-in-out;
}
.dropdown div a{
	letter-spacing: 1px !important;
}
.dropdown div:nth-child(4){
	border-bottom: 0px
}
ul li{
	cursor: pointer;
}
ul li:hover div.dropdown{
	display: block;
}
.burger{
	display: none;
	cursor: pointer;
	margin: 0 30px;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: gray;
	margin: 5px;
}
.bg{
	background-image: url(./../img/bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 95%;
	height: 223vw;
	background-position: top center;
	margin: 23vw auto 2vw;
	/*margin-bottom: 0;*/
	max-width: 1500px;
}
.title_container{
	margin: 0 auto;
	height: 250px;
	width: 90%;
	position: absolute;
	top: 280px;
}
.title_crown{
	background-image: url(./../img/crown.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 9%;
    position: absolute;
    top: -3vw;
    left: 10vw;
}
.steam_logo {
    background-image: url(./../img/steam.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 8vw;
    width: 8vw;
    position: absolute;
    top: 26vw;
    left: 25vw;
    z-index: 2;
    cursor: pointer;
    
}
/*.steam_logo:hover{
	cursor: pointer;
	display: none
}*/
.steam_logo_text{
	position: absolute;
	width: 25vw;
	height: 100px;
	top: 2vw;
	left: 11vw;
	color: rgb(7 131 143);
	font-size: 2vw;
}
.steam_logo_text p:nth-child(2){
	position: absolute;
	left: 30px;
}
.title{
	/*font-size: max(11vw,100px);*/
	font-size: 10vw;
	font-weight: 500;
	letter-spacing: 0.5vw;
	color: #ff9902;
	transform: rotate(-5deg);
	position: absolute;
	left: 4vw;
	top: -160px;
}
/*graph1*/
.spark_img{
	background-size: contain;
	background-repeat: no-repeat;
	animation: blink normal 2s infinite ease-in-out;
	position: absolute;
}
.spark1{
	background-image: url(./../img/spark1.png);	
}
.steam_logo .spark_container .spark1:nth-child(1){
	width: 3vw;
	height: 3vw;
	left: 45vw;
	top: 3vw;
	animation-delay: .5s;
}
.steam_logo .spark_container .spark1:nth-child(2){
	width: 4.5vw;
	height: 4.5vw;
	left: 52vw;
	top: 3vw;
	animation-delay: .2s;
}
.steam_logo .spark_container .spark1:nth-child(3){
	width: 7.5vw;
	height: 7.5vw;
	left: 57vw;
	top: -3vw;
	animation: blink normal 1.5s infinite ease-in-out;
}
.steam_logo .spark_container .spark2{
	width: 4vw;
    height: 4vw;
    left: 63vw;
    animation-delay: .3s;
}
.spark2{
	background-image: url(./../img/spark2.png);
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.graph_container{
	/* font-size: 2px; */
	position: absolute;
}
.graph_text{
	color: #fff;
	font-size: 2.3vw;
}
.graph_text span{
	color: #fdb200;
	font-weight: bold;
	letter-spacing: 1px;
}
.graph_text span.type2{
	color: rgb(255, 236, 179);
	font-weight: bold;
	letter-spacing: 1px;
}
.graph1{
	width: 35vw;
	height: 20vw;
	/*background-color: #ddd;*/
	position: absolute;
	left: 51vw;
	top: -4vw;
	display: flex;
}
.g1_1{
	width: 50%;
	height: 14vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./../img/g1_1.png');
	background-position: center;
	position: relative;
}
.g1_1_text{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/g1_1_text.png);
	width: 100%;
	height: 15vw;
	top: 10vw;
}
.check_img{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/check.png);
	width: 35%;
	height: 5vw;
	left: 11vw;
}
.g1_2{
	width: 50%;
	height: 14vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./../img/g1_2.png');
	background-position: center;
	position: relative;
}
.g1_2_text{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/g1_2_text.png);
	width: 100%;
	height: 15vw;
	top: 10vw;
}
.graph_outline{
	width: 45vw;
	height: 37vw;
	background-color: #006699;
	position: absolute;
	left: 0vw;
	top: -4vw;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.graph2{
	width: 46vw;
	height: 37vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/g2.png);
	background-position: center;
	position: relative;
}
.graph_hint{
    color: #fff;
    font-size: 1vw;
    position: absolute;
    top: 35.5vw;
    left: 1.5vw;
}
.graph3{
	width: 45vw;
    height: 35vw;
    /* background-color: #ddd; */
    position: absolute;
    left: 41vw;
    top: -37vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/wordcloud.png);
    background-position: center;
}
.g3 .spark_container .spark1:nth-child(1){
	width: 4.5vw;
	height: 4.5vw;
	left: 8vw;
	top: -16vw;
	animation-delay: .3s;
}
.g3 .spark_container .spark1:nth-child(2){
	width: 7.5vw;
	height: 7.5vw;
	top: -15vw;
	animation: blink normal 1.25s infinite ease-in-out;
	animation-delay: .5s;
}
.g3 .spark_container .spark1:nth-child(3){
	width: 4.5vw;
	height: 4.5vw;
	top: 0vw;
	animation: blink normal 1.5s infinite ease-in-out;
	animation-delay: .15s;
	left: -6vw;
}
.g3 .spark_container .spark2{
	width: 4vw;
    height: 4vw;
    left: 10vw;
    top: -10vw;
    animation-delay: .6s;
}
.ufo1{
	width: 9vw;
    height: 9vw;
    /* background-color: #ddd; */
    position: absolute;
    left: 30vw;
    top: -17vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/ufo1.png);
    background-position: center;
}
.ufo2{
	width: 11vw;
    height: 11vw;
    /* background-color: #ddd; */
    position: absolute;
    left: 74vw;
    top: -36vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/ufo2.png);
    background-position: center;
}
.purple_planet{
    width: 28vw;
    height: 24vw;
    /* background-color: #ddd; */
    position: absolute;
    left: 55vw;
    top: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/purple_planet.png);
    background-position: center;
}
.planet_monster{
	width: 11vw;
    height: 11vw;
    /* background-color: #ddd; */
    position: absolute;
    left: 64vw;
    top: .4vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/planet_monster.png);
    background-position: center;
}
.graph4_outline{
	width: 45vw;
    height: 31vw;
    left: -49vw;
    top: -13vw;
}
.graph4{
	width: 46vw;
	height: 42vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/g4.png);
	background-position: center;
	position: relative;
}
.graph4_hint_img{
	position: absolute;
    height: 5vw;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/hint.png);
    background-position: center;
    top: 19vw;
    left: -47vw;
}
.graph4_des{
	height: 15vw;
	width: 30vw;
	position: absolute;
	top: 20vw;
	left: -41vw;
	font-size: 1.5vw;
	color: rgb(7 131 143)
}
.g4 .spark_container .spark1:nth-child(1){
	width: 4vw;
	height: 4vw;
	left: -8vw;
	top: 25vw;
	animation-delay: .2s;
}
.g4 .spark_container .spark1:nth-child(2){
	width: 5vw;
    height: 5vw;
    top: 25vw;
    left: 33vw;
    animation-delay: .5s;
}
.g4 .spark_container .spark2{
	width: 3.5vw;
    height: 3.5vw;
    left: -3vw;
    top: 21vw;
    animation-delay: .2s;
    animation: blink normal 1.75s infinite ease-in-out;
}
.handler_img{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/game_handler.png);
    background-position: center;
    height: 26vw;
    width: 26vw;
    left: 3vw;
    top: 13vw;
    position: absolute;
}
.g5_hint{
	font-size: 1.1vw;
	position: absolute;
	top: 16.6vw;
	left: 36vw;
	color: rgb(7 131 143);
}
.clock_img{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/clock.png);
    background-position: center;
    height: 6vw;
    width: 6vw;
    left: -20vw;
    top: 10vw;
    position: absolute;
}
.graph5{
	width: 35vw;
	height: 20vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./../img/g5.png);
	background-position: center;
	position: absolute;
	left: -25vw;
	top: 9vw;
}
.graph5_text{
    width: 30vw;
    height: 16vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./../img/g5_text.png);
    background-position: center;
    position: absolute;
    left: 2vw;
    top: 12vw;
    transform: rotate(-3deg);
}
.g1{
	top: 39.7vw;
	left: 12vw;
	width: 50%;
	height: 150px;

}
.g2{
	top: 60vw;
	width: 80%;
	left: 6vw;
	height: 300px;
	position: absolute;
}
.g2_text{
    width: 39%;
    left: 55vw;
    top: 2vw;
    position: absolute;
}
.g2_text p{
	font-size: 2.6vw;
}
.g2_text span{
	font-size: 3vw;
	font-weight: bold;
}
.g3{
    top: 113vw;
    width: 60%;
    left: 12vw;
}
.g3_text p{
	font-size: 3vw;
}
.g3_text span{
	font-size: 3.4vw;
}
.g4{
	top: 150.5vw;
	width: 40%;
	left: 53vw;
}
.g4_text p{

}
.g4_text span{
	font-size: 2.7vw
}
.g5{
    top: 189vw;
    width: 63%;
    left: 22vw;
}
.g4_text p{

}
.g4_text span{
	
}
.g6{
	top: 227vw;
	width: 39%;
	left: 6.5vw;
}
.g6_text p{
	font-size: 1.9vw;
}
.g6_text span{
	font-size: 2.2vw;
}

.graph6{
	width: 50vw;
	height: 40vw;
	/*background-color: #ddd;*/
	position: absolute;
	left: 40vw;
	top: -14vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./../img/last_graph.png');
}
.footer_img_container{
	height: 25vw;
	width: 100%;
	display: flex;
	align-items: baseline;
}
.footer_img_container .footer_img{
	background-size: contain;
	background-repeat: no-repeat;
	height: 12vw;
	width: 12vw;
}
.footer_img_container .footer_img:nth-child(1){
	background-image: url('./../img/rocket.png');
	height: 25vw;
	width: 25vw;
}
.footer_img_container .footer_img:nth-child(2){
	background-image: url('./../img/monster1.png');
}
.footer_img_container .footer_img:nth-child(3){
	background-image: url('./../img/monster2.png');
}
.footer_img_container .footer_img:nth-child(4){
	background-image: url('./../img/monster3.png');
}
.footer_img_container .footer_img:nth-child(5){
	background-image: url('./../img/monster4.png');
}
.footer_img_container .footer_img:nth-child(6){
	background-image: url('./../img/monster5.png');
}
.footer_img_container .footer_img:nth-child(7){
	background-image: url('./../img/monster6.png');
}

.footer{
	background-color: rgb(0 119 127);
	height: 20vw;
	width: 100%;
	display: flex;
}
.soochow_mark{
	height: 20vw;
	width: 25%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./../img/scu_mark.png');
	background-position: center;
}
.bd_mark{
	height: 20vw;
	width: 25%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./../img/bd_mark.png');
	background-position: center;
}
.team_container,.team_image_container{
	height: 20vw;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 25px;
}
.team_inner_container{
	height: 14vw;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-wrap: wrap;
}
.team_container p{
	margin: 0;
}
.team_container p:nth-child(1){
	font-size: 2.5vw;
	color: #fff;
}
.team_container p:nth-child(2),.team_container p:nth-child(3){
	color: #b1eaf1;
	font-size: 2vw;
}
.team_container p:nth-child(4){
	font-size: 1.5vw;
	color: #4ecfdf;
}
@media screen and (min-width: 1300px) {
	.title {
	    /*font-size: 130px;*/
	}
	.bg {
		/*margin: 23vw auto;*/
		/*background-size: cover;*/
		max-width: unset;
	}
	.title_crown {
		top: -30px;
		/*left: 130px;*/
	}
	.steam_logo{
		top: 27vw;
		height: 8vw;
		width: 8vw;

	}
}